.hero {
  height: 800px;
  @extend .overlay;
  @extend .flex-col-center;
  text-align: center;
  padding: 1.3rem;
  position: relative;
  z-index: 1;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
  border: 1px solid red;

  .info {
    @extend .flex-col-center;
    gap: 1rem;
    z-index: 3;
    position: absolute;
    top: 30%;

    .title {
      font-size: 1.7rem;
      @media #{$md} {
        font-size: 2.5rem;
      }
    }
    .provider {
      font-weight: 300;
      display: block;
      font-size: 80%;
      color: var(--primary);
    }
  }

  .movies {
    @extend .flex-row-center;
    gap: 0.3rem;
    padding: 0 1rem;
    z-index: 3;

    position: absolute;
    bottom: 250px;

    @media #{$sm} {
      bottom: 170px;
    }
    @media #{$md} {
      bottom: 180px;
    }
    @media #{$xl} {
      bottom: 160px;
    }

    .isActive {
      transform: translateY(-10px);
      border: 1px solid #b3b3b3;
      opacity: 1;
    }

    .movie {
      position: relative;
      width: 25%;
      border: 1px solid #b4b4b463;
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.3s;

      &:not(.isActive) {
        cursor: pointer;
        filter: grayscale(1);
        opacity: 0.6;
      }

      @media #{$xss} {
        width: 19%;
      }
      @media #{$md} {
        width: 15%;
      }
      @media #{$lg} {
        width: 10%;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      .more {
        padding-block: 0.3rem;
        font-size: 90%;
        display: none;
        transition: all 0.3s;
        color: white;
        &:hover {
          color: #00dda6;
        }
      }
    }
  }
}

.hero-info {
  height: 700px;
  @extend .flex-col-center;
  text-align: center;
  padding: 1.3rem;
  position: relative;
  z-index: 1;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  @media #{$lg} {
    margin: 4rem;
    border-radius: 25px;
  }

  .bi-arrow-left{
    position: absolute;
    top: 60px;
    left: 40px;
    z-index: 5;
    font-size: 140%;
    @media #{$lg} {
      top: 40px;
      left: 25px;
    }
  }
  .overlay {
    background: linear-gradient(to top, #000000, #000000f1, #00000010);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .bi-play-circle-fill {
    z-index: 5;
    font-size: 400%;
      position: absolute;
      top: 30%;
      transform: translate(-30%, -50%);
    
  }
  .data-container {
    z-index: 5;
    position: absolute;
    bottom: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    border: 1px solid red;
    padding: .5rem;
  }
  
  .data {
    gap: 0.4rem;
    display: flex;
  
    span {
      background-color: #59595958;
      padding: 0.2rem 0.5rem;
      border-radius: 25px;
    }
  }
}


.overview {
  height: 60px;
  overflow: hidden;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid red;
}

