.hero {
  height:  800px;
  @extend .overlay;
  @extend .flex-col-center;
  text-align: center;
  padding: 1.3rem;
  position: relative;
  z-index: 1;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  .info {
    @extend .flex-col-center;
    gap: 1rem;
    z-index: 3;
    position: absolute;
    top: 30%;

    .title {
      font-size: 1.7rem;
      @media #{$md} {
        font-size: 2.5rem;
      }
    }
    .provider {
      font-weight: 300;
      display: block;
      font-size: 80%;
      color: var(--primary);
    }
  }

  .movies {
    @extend .flex-row-center;
    gap: .3rem;
    padding: 0 1rem;
    z-index: 3;

    position: absolute;
    bottom: 160px;
    
    @media #{$sm} {
      bottom: 120px;
    }
    @media #{$md} {
      bottom: 130px;
    }
    @media #{$xl} {
      bottom: 80px;
    }

    .isActive {
      transform: translateY(-10px);
      border: 1px solid #b3b3b3;
      opacity: 1;
    }

    .movie {
      position: relative;
      width: 25%;
      border: 1px solid #b4b4b463;
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.3s;

      &:not(.isActive) {
        cursor: pointer;
        filter: grayscale(1);
        opacity: 0.60;
      }

      @media #{$xss} {
        width: 22%;
      }
      @media #{$md} {
        width: 17%;
      }
      @media #{$lg} {
        width: 12%;
      }
      @media #{$xxl} {
        width: 9%;
      }
      
      
      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      .more {
        padding-block: 0.3rem;
        font-size: 90%;
        display: none;
        transition: all 0.3s;
        color: white;
        &:hover {
          color: #00dda6;          
        }
      }
    }
    
  }
}
