.nav {
  @extend .flex-row-space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 10;
  a {
    color: white;
  }
  i {
    cursor: pointer;
  }

  #logo {
    font-size: 180%;
  }

  .links {
    @extend .flex-col-center;
    gap: 1rem;
    position: absolute;
    top: 55px;
    right: 7px;
    height: 120px;
    width: 200px;
    padding: 1rem;
    z-index: 10;
    display: none;

    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.603);
    background-color: #009771;
    border-radius: 12px;

    @media #{$md} {
      position: initial;
      top: unset;
      right: unset;
      background: none;
      flex-direction: row;
      height: auto;
      width: auto;
      box-shadow: none;
    }

    li a {
      cursor: pointer;
      border: 2px solid #ffffff00;
      transition: all 0.4s;
      &:hover {
        color: #000000;
        @media #{$md} {
          color: #00d8a2;
        }
      }
    }
  }

  .links-active {
    display: flex;
  }
  .links-inactive {
    display: none;
    @media #{$md} {
      display: flex;
    }
  }

  #menu-icon {
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
    @media #{$md} {
      display: none;
    }
  }

  #search-btn {
    margin-left: auto;
    margin-right: 10px;
    &:hover {
      transform: scale(1.1);
    }
    @media #{$md} {
      margin-left: initial;
    }
  }

  .active {
    color: #000000;
    @media #{$md} {
      color: #00d8a2;
    }
  }
}
