.nav {
  @extend .flex-row-space-between;
  padding: 1rem;
  border: 1px solid;
  a{
    color: white;
  }
  i{
    cursor: pointer;
  }

  #logo {
    font-size: 180%;
  }

  .links {
    padding: 0.5rem;
    border: 1px solid;
    background-color: cadetblue;

    @extend .flex-row-center;
    gap: 1rem;
    li a {
      cursor: pointer;
    }

    position: absolute;
    top: 50px;
    right: 0;
    display: none;

    @media #{$md} {
      position: initial;
      top: unset;
      right: unset;

    }
  }

  .links-active {
    display: flex;
  }
  .links-inactive {
    display: none;
    @media #{$md} {
      display: flex;
    }
  }

  #menu-icon {
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
    @media #{$md} {
      display: none;
    }
  }
}
