.profile {
  padding: 60px;
  height: 100%;
  
  @extend .flex-col-center;
  gap: 1rem;
  text-align: center;
  padding-top: 5rem;
  padding-inline: 1.5rem;
  
  #user-in-profile {
    color: var(--primary);
  }
  
  .results {
    max-height: 1500px;
    padding: 0.5rem;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @media #{$xss} {
      grid-template-columns: repeat(3, 1fr);
    }
    @media #{$sm} {
      grid-template-columns: repeat(4, 1fr);
    }
    @media #{$md} {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
