.searchForm{
    border: 1px solid;
    background-color: white;
    border-radius: 15px;
    padding: 0.2rem 0.7rem;
    width: 100%;

    @media #{$md}{
        width: 50%;
        margin: 0 auto;
    }

    input[type=search]{
        text-align: center;
        border: none;
       outline: none;
       width: 100%;
    }
}